.container {
  background-color: #98bebb;
  width: 60%;
  margin: auto;
  color: white;
}

.title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.contactForm {
  font-size: 1.05rem;
  padding: 2rem;
  align-content: space-between;
}

.subSec {
  gap: 2rem;
  display: flex;
  justify-content: space-between;
}

.formItem {
  font-size: inherit;
  border: none;
  border-bottom: 1px white solid;
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: inherit;
  color: black;
  flex: auto;
}

/* .contactForm .textArea {
  flex: auto;
} */

.contactForm .optIndustrias {
  flex: none;
  width: 150px;
}

.contactForm .boton {
  flex: none;
  width: 150px;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #ffe883;
  border: 0px;
  color: black;
  margin: auto;
}

/* sudo elements */

::placeholder {
  color: white;
}

.formItem:focus {
  border: 0;
}

.formItem:focus-visible {
  outline: 0;
  color: black;
  border-bottom: 2px black solid;
}
